@import "variables.scss"; //просто импорт стилей

//ШАБЛОНЫ
//можно делать шаблоны через %
%some_shablone {
    border: 2px solid red;
    background: radial-gradient(#172442, rgb(71, 71, 71))
}

//а можно делать отдельный класс и импортироввать его точно так же как и % (@extend %some_shablone; = @extend .some_shablone;)
.some_shablone {
    border: 2px solid red;
    background: radial-gradient(#172442, rgb(71, 71, 71))
}

//МИКСИНЫ
@mixin for_blocks($h, $w, $border) {
    height: $h;
    width: $w;
    border: $border;
}


.something_else {
    height: calc(100% - 100px);
    height: 100%;
    width: 100%;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    .something_else_nav {
        width: 100%;
        border-bottom: 1px solid green;
        display: flex;
        flex-direction: column;

        button {
            // background: none;
            cursor: pointer;
            margin: 10px;
            font-size: $myFontSize;

            @extend %some_shablone; //применение шаблона

            &:hover {
                color: blue;
            }
        }
    }

    .div_with_blocks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 20px;

        .block1,
        .block2 {
            @include for_blocks(450px, 250px, 1px solid blue);
            // width: 250px;
            // height: 250px;
            // border: 1px solid #172442;
        }

    }

    .content_something_else {

        margin: 0;
        padding: 0;
        background: #172442;

        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            background: linear-gradient(0deg, #191842, transparent 95%);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 320px;
            height: 400px;
            box-shadow: -5px 35px 30px -20px rgba(0, 0, 0, 0.5);
        }

        &:after {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            letter-spacing: 1.4em;
            margin: 0 0 0 0.6em;
            text-transform: uppercase;
            content: 'BREATHE';
            color: violet;
            mix-blend-mode: lighten;
            font-size: 12px;
            font-family: serif;
            opacity: .8;
        }
    }

    canvas {
        position: relative;
        z-index: 2;
        background: transparent;
    }

}