.header {
    height: 50px;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 10px rgb(90, 90, 90);
    display: flex;
    flex-direction: row;
}

.button_div {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    text-decoration: none;
}

.button_div:hover {
    text-decoration: underline;
}

.button_div>button {
    border: none;
    background: none;
    cursor: pointer;
}

.button_div>button:hover {
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.button_div-active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
    cursor: default;
    color: rgb(23, 23, 112);
    text-decoration: underline;
}